[submodule "CA0"]
	path = CA0
	url = https://github.com/mohammadsaadati80/Pandas-Numpy-Introduction
[submodule "CA1"]
	path = CA1
	url = https://github.com/mohammadsaadati80/Gandalf-and-Ring-Fellows
[submodule "CA2P1"]
	path = CA2P1
	url = https://github.com/mohammadsaadati80/Connect4-Min-Max
[submodule "CA2P2"]
	path = CA2P2
	url = https://github.com/mohammadsaadati80/Decrypt-Replacement-Encryption-Genetics
[submodule "CA3"]
	path = CA3
	url = https://github.com/mohammadsaadati80/Naive-Bayes-Classifier
[submodule "CA4"]
	path = CA4
	url = https://github.com/mohammadsaadati80/Spotify-Music-Genre-Detection-ML
[submodule "CA5P1"]
	path = CA5P1
	url = https://github.com/mohammadsaadati80/Feed-Forward-Neural-Network
